<!DOCTYPE html>
<html>
<head>
    <title>Failure</title>

    <style>
        body{
            background-color: fuchsia;
            text-align: center;
            font-family: serif;
        }

        h1{
            color: brown;
            margin-top: 200px;
        }

        a{
            text-decoration: none;
            color: aqua;
            font-size: 20px;
        }
    </style>
</head>
<body>

<h1>Invalid Username or Password</h1>

<br>

<a href="/">Try Again</a>

</body>
</html>