<!DOCTYPE html>
<html>
<head>
    <title>Find Student</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="page-wrapper">

    <div class="card">

        <h1 class="title">Find Student</h1>

        <form action="/searchstudent" method="POST" class="form">

            <div class="form-group">
                <label>Student Id</label>
                <input type="number" name="student_id" placeholder="Enter Student ID" required>
            </div>

            <button type="submit" class="btn">Search</button>

        </form>

    </div>

</div>

</body>
</html>