<!DOCTYPE html>
<html>
<head>
    <title>All Students</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="page-wrapper">

    <div class="card table-card">

        <h1 class="title">All Students</h1>

        <div class="table-container">

            <table class="styled-table">

                <thead>
                    <tr>
                        <th>Student Id</th>
                        <th>Name</th>
                        <th>Age</th>
                        <th>College</th>
                        <th>Phone</th>
                        <th>Branch</th>
                    </tr>
                </thead>

                <tbody>
                    {% for student in students %}
                    <tr>
                        <td>{{ student[0] }}</td>
                        <td>{{ student[1] }}</td>
                        <td>{{ student[2] }}</td>
                        <td>{{ student[3] }}</td>
                        <td>{{ student[4] }}</td>
                        <td>{{ student[5] }}</td>

                    </tr>
                    {% endfor %}
                </tbody>

            </table>

        </div>

    </div>

</div>

</body>
</html>