<!DOCTYPE html>
<html>
<head>
    <title>Products</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="page-wrapper">

    <div class="card table-card">

        <h1 class="title">🛍 Products</h1>

        <a href="/addproduct" class="btn add-btn">+ Add Product</a>

        <div class="table-container">

            <table class="styled-table">

                <thead>
                    <tr>
                        <th>Product Id</th>
                        <th>Product Name</th>
                        <th>Price</th>
                    </tr>
                </thead>

                <tbody>
                    {% for product in products %}
                    <tr>
                        <td>{{ product[0] }}</td>
                        <td> {{ product[1] }}</td>
                        <td>₹ {{ product[2] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>

        </div>

    </div>

</div>

</body>
</html>