<!DOCTYPE html>
<html>
<head>

<title>Admin Dashboard</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="navbar">

    <div class="logo">
        🎓 Student Management System
    </div>

    <div class="nav-links">
        <a href="/registerstudent">Register</a>
        <a href="/getstudents">Students</a>
        <a href="/findstudent">Search</a>
        <a href="/">Logout</a>
    </div>

</div>

<div class="welcome">

    <h1>Admin Dashboard</h1>

    <h3>Godavari Global University</h3>

    <p>Welcome Administrator</p>

</div>

<div class="dashboard">

    <div class="card-box update-card">

    <h2>✏️ Update Student</h2>

    <p>Modify student information.</p>

    <a href="/updatestudent">
        <button>Open</button>
    </a>

    </div>

    <div class="card-box delete-card">

    <h2>🗑️ Delete Student</h2>

    <p>Remove student from database.</p>

    <a href="/deletestudent">
        <button>Open</button>
    </a>

    </div>

    <div class="card-box register-card">

        <h2>🎓 Register Student</h2>

        <p>Add a new student into the system.</p>

        <a href="/registerstudent">
            <button>Open</button>
        </a>

    </div>

    <div class="card-box students-card">

        <h2>📋 Get Students</h2>

        <p>View all registered students.</p>

        <a href="/getstudents">
            <button>Open</button>
        </a>

    </div>

    <div class="card-box search-card">

        <h2>🔍 Find Student</h2>

        <p>Search student by ID.</p>

        <a href="/findstudent">
            <button>Open</button>
        </a>

    </div>

    <div class="card-box logout-card">

        <h2>🚪 Logout</h2>

        <p>Exit from dashboard.</p>

        <a href="/">
            <button>Logout</button>
        </a>

    </div>

</div>

</body>
</html>