<!DOCTYPE html>
<html>
<head>
    <title>Update Student</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="page-wrapper">

    <div class="card">

        <h1 class="title">Update Student</h1>

        <form action="/updaterecord" method="POST" class="form">

            <div class="form-group">
                <label>Student Id</label>
                <input type="number" name="student_id" placeholder="Student ID" required>
            </div>

            <div class="form-group">
                <label>Student name</label>
                <input type="text" name="student_name" placeholder="Student Name" required>
            </div>

            <div class="form-group">
                <label>Phone</label>
                <input type="text" 
                       name="student_phone"
                       placeholder="Phone Number"
                       maxlength="10"
                       oninput="this.value=this.value.replace(/[^0-9]/g,'')"
                       required>
            </div>

            <button type="submit" class="btn">Update Student</button>

        </form>

    </div>

</div>

</body>
</html>